*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}